/* ##### Parallax ##### */
.parallax:nth-child(3) {
    height: 100vmin;
    overflow: hidden;
    position: relative;
}

/* ##### Card ##### */
.card {
    width: 71.7vmax;
    height: 97vh;
    margin: 0 auto;
} 

/* ##### Card Title ##### */
.card h2 {
    color: rgb(54,46,38);
    font-size: 2.05vw;
    letter-spacing: 0.1rem;
    padding-bottom: 1vw; 
    text-align: center;
}

/* ##### Card Svg Image ##### */
.card svg {
    fill: rgb(231, 133, 133);
    fill-opacity: 1;
    line-height: 3rem;
    stroke: rgb(231, 133, 133);
    stroke-opacity: 1;
    stroke-width: 1;
    padding: 0 1px 1px 0;
    width: 10vw;
}

/* ##### Card Paragraph ##### */
.card p {
    color: rgb(96,94,94);
    padding: 7vh 8.5vw;
    text-align: center;
}

/* ##### Card Image ##### */
.cardImage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardImage {
    justify-content: space-evenly;
    height: 33vh;
    width: 100%;
}